# MongoDB
MONGO_INITDB_ROOT_USERNAME=tayz4
MONGO_INITDB_ROOT_PASSWORD=sacha

# MySQL
MYSQL_ROOT_PASSWORD=sacha
MYSQL_DATABASE=app_db
MYSQL_USER=appuser
MYSQL_PASSWORD=sacha

# Mongo
ME_CONFIG_BASICAUTH_USERNAME=tayz4
ME_CONFIG_BASICAUTH_PASSWORD=sacha